---
import { Image } from 'astro:assets'
import type { HTMLTag, Polymorphic } from 'astro/types'
import type { CollectionEntry } from 'astro:content'
import { cn } from '@/utils'

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	project: CollectionEntry<'project'>
	withDesc?: boolean
}

const { as: Tag = 'a', class: className, project } = Astro.props

const { data, slug } = project
---

<Tag
	class={cn(
		className,
		'flex flex-col gap-y-3 rounded-2xl border border-border bg-primary-foreground ',
		slug && 'transition-all hover:border-foreground/25 hover:shadow-sm'
	)}
	href={`/projects/${slug}`}
>
	{
		data.coverImage && (
			<>
				<Image
					alt={data.coverImage.alt}
					src={data.coverImage.src}
					class='w-full rounded-2xl rounded-bl-none rounded-br-none object-cover'
					loading='eager'
				/>
			</>
		)
	}
	<div class='flex flex-col gap-y-0.5 px-5 py-4'>
		<h1 class='text-lg font-medium'>{data.title}</h1>
		<h2 class='text-muted-foreground'>{data.description}</h2>
		{project.data.draft && <span class='text-red-500'>(Draft) </span>}
	</div>
	<slot />
</Tag>
